/** Main styles */
.main {
    width: 100%;
    padding-inline: 1rem;
    padding-block: 3rem 5rem;
    background-color: var(--primary);
    background-image:
        linear-gradient(0deg, var(--secondary) 1px, transparent 1px),
        linear-gradient(90deg, var(--secondary) 1px, transparent 1px);
    background-size: 30px 30px;
    background-position: 10px 10px;
}

.main__content {
    max-width: var(--max-width);
    margin-inline: auto;
}

/** Converters styles */
.converter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.converter__item {
    display: flex;
    flex-flow: column;
}

.element__title {
    width: fit-content;
    padding: 0.3rem 0.75rem;
    border: 2px solid var(--text-primary);
    border-bottom-style: none;
    border-radius: 5px 5px 0 0;
    background-color: var(--primary);
    position: relative;
    top: 2px;
    font-size: 1.65rem;
    font-weight: 650;
}

.converter__element {
    padding-block: 1rem 0.5rem;
    padding-inline: 0.75rem;
    border: 2px solid var(--text-primary);
    border-radius: 0 10px 10px 10px;
    background-image: linear-gradient(var(--primary), var(--secondary));
    box-shadow: 2px 2px 5px #00000060;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
}

.element__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.element__dropdowns {
    display: flex;
    flex-flow: row-reverse;
    gap: 0.75rem;
}

.element__select {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--text-accent);
}

.element__select--hidden {
    display: none;
    visibility: hidden;
}

.select__default {
    padding-block: 0.25rem;
    padding-inline: 0.5rem 2.5rem;
    background-color: var(--accent);
    border: 1px solid var(--text-accent);
    border-radius: 3px;
    text-align: left;
    font-size: inherit;
}

.select__default::after,
.select__default::before {
    content: "";
    border: 0.5rem solid transparent;
    position: absolute;
    right: 0.5rem;
}

.select__default::after {
    border-top-color: var(--text-accent);
    bottom: -0.1rem;
}

.select__default::before {
    border-bottom-color: var(--text-accent);
    top: -0.1rem;
}

.select__menu {
    border: 1px solid var(--text-accent);
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    top: 115%;
    left: 0;
    overflow: hidden;
}

.select__menu--hidden {
    display: none;
    visibility: hidden;
}

.select__option {
    padding: 0.35rem 0.5rem;
    background-color: var(--accent);
    cursor: pointer;
}

.select__option--selected {
    background-color: color-mix(in srgb, var(--accent) 85%, black);
    cursor: default;
}

.select__option:hover:not(.select__option--selected) {
    background-color: color-mix(in srgb, var(--accent) 65%, white);;
}

.element__settings {
    background-color: transparent;
    border-style: none;
    display: flex;
}

.settings__icon {
    aspect-ratio: 1;
    width: 1.8rem;
    color: var(--text-accent);
}

.converter__textarea {
    width: 100%;
    height: 12rem;
    margin-top: 1rem;
    padding: 0.35rem 0.5rem;
    border: 1.2px solid var(--text-primary);
    border-radius: 2px;
     background-color: var(--text-secondary);
    font-size: 1.1rem;
    font-weight: bold;
    color: inherit;
    resize: none;
}

.converter__textarea:disabled {
    cursor: not-allowed;
}

.converter__change {
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.45rem;
    border-style: none;
    background-color: var(--accent);
    box-shadow: 0 0 10px #00000040;
    border-radius: 5px;
    position: relative;
}

.converter__arrows {
    width: 2rem;
    color: var(--text-accent);
}