/** Main styles */
.main {
    width: 100%;
    padding-inline: 1rem;
    padding-block: 3rem 5rem;
    background-color: var(--primary);
    background-image:
        linear-gradient(0deg, var(--secondary) 1px, transparent 1px),
        linear-gradient(90deg, var(--secondary) 1px, transparent 1px);
    background-size: 30px 30px;
    background-position: 10px 10px;
    position: relative;
}

.main__content {
    max-width: var(--max-width);
    margin-inline: auto;
}

.main__alert {
    max-width: 30rem;
    padding: 0.65rem 0.75rem;
    border-radius: 10px;
    position: absolute;
    z-index: 20;
    top: 1rem;
    left: 50%;
    translate: -50% 0;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    transition: top 220ms ease-out,
                translate 220ms ease-out,
                scale 220ms ease-in,
                visibility 220ms ease-in;
}

.main__alert--hidden {
    top: 0;
    translate: -50% -100%;
    scale: 0;
    visibility: hidden;
}

.main__alert--error {
    background-color: var(--error);
    color: var(--text-error);
}

.main__alert--warning {
    background-color: var(--warning);
    color: var(--text-warning);
}

.main__modal {
    max-height: 90vh;
    width: 12rem;
    padding: 0.5rem 1rem 0.75rem;
    background-color: var(--secondary);
    border: 1px solid var(--text-secondary);
    border-radius: 10px;
    position: fixed;
    z-index: 50;
    top: 15%;
    left: 50%;
    translate: -50% -15%;
    color: var(--text-secondary);
    overflow-y: auto;
    transition: top 200ms ease-in, scale 220ms ease-out, visibility 220ms ease-out;
}

.main__modal--hidden {
    top: -20%;
    scale: 0;
    visibility: hidden;
}

.modal__close {
    background-color: transparent;
    border-style: none;
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
}

.modal__icon {
    aspect-ratio: 1;
    width: 1.45rem;
    color: var(--text-secondary);
}

.modal__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.45rem;
}

.modal__item--hidden {
    display: none;
}

.modal__title {
    font-size: 1.25rem;
    font-weight: 650;
}

.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__option {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.modal__option--hidden {
    display: none;
}

.modal__subtitle {
    font-size: 1.1rem;
    font-weight: normal;
}

.modal__text {
    font-size: 1rem;
    font-style: italic;
}

.modal__set {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal__set--vertical {
    width: fit-content;
    flex-direction: column;
    gap: 0;
}

.modal__separator {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-accent);
}

.modal__character {
    width: 1.5rem;
    padding: 0.1rem 0.25rem;
    background-color: var(--primary);
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    text-align: center;
    font-size: 1.05rem;
    color: var(--text-primary);
}

.modal__character:focus {
    outline-style: none;
}

.main__backdrop {
    position: fixed;
    z-index: 49;
    inset: 0;
    background-color: #000000D0;
    cursor: alias;
}

.main__backdrop--hidden {
    display: none;
}

/** Converters styles */
.converter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    --shadow: -5px 5px 2px #000000B0;
    --shadow-low: -4px 4px 1px #000000B0;
}

.converter__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.converter__item {
    display: flex;
    flex-direction: column;
}

.converter__title {
    width: fit-content;
    padding: 0.3rem 0.75rem;
    border: 2px solid var(--text-primary);
    border-bottom-style: none;
    border-radius: 5px 5px 0 0;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    position: relative;
    font-size: 1.35rem;
    font-weight: 650;
}

.converter__element {
    padding-block: 0.75rem 0.5rem;
    padding-inline: 0.75rem;
    border: 2px solid var(--text-primary);
    border-radius: 0 10px 10px 10px;
    background-image: linear-gradient(var(--primary), var(--secondary));
    box-shadow: var(--shadow);
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.element__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

.element__dropdowns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.element__select {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    color: var(--text-accent);
}

.element__select--hidden {
    display: none;
    visibility: hidden;
}

.select__default {
    padding-block: 0.25rem;
    padding-inline: 0.5rem 2.5rem;
    background-color: var(--accent);
    border: 1px solid var(--text-accent);
    border-radius: 3px;
    text-align: left;
    font-size: inherit;
}

.select__default::after,
.select__default::before {
    content: "";
    border: 0.4rem solid transparent;
    position: absolute;
    right: 0.5rem;
}

.select__default::after {
    border-top-color: var(--text-accent);
    bottom: 0;
}

.select__default::before {
    border-bottom-color: var(--text-accent);
    top: 0;
}

.select__menu {
    border: 1px solid var(--text-accent);
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    top: 115%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: inherit;
}

.select__menu--right {
    top: auto;
    left: 103%;
    bottom: 0;
}

.select__menu--top {
    top: 0;
    left: 0;
    translate: 0 -107%;
}

.select__menu--hidden {
    display: none;
    visibility: hidden;
}

.select__option {
    padding: 0.35rem 0.5rem;
    background-color: var(--accent);
    border-style: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    text-align: start;
}

.select__option--selected {
    background-color: color-mix(in srgb, var(--accent) 85%, black);
    cursor: default;
}

.select__option:hover:not(.select__option--selected) {
    background-color: color-mix(in srgb, var(--accent) 65%, white);;
}

.element__settings {
    background-color: transparent;
    border-style: none;
    display: flex;
}

.settings__icon {
    aspect-ratio: 1;
    width: 1.55rem;
    color: var(--text-accent);
}

.converter__copy {
    order: 3;
    background-color: transparent;
    border-style: none;
    display: flex;
    color: var(--text-primary);
    cursor: pointer;
}

.copy__icon {
    aspect-ratio: 1;
    width: 1.5rem;
}

.copy__icon--hidden {
    display: none;
}

.converter__textarea {
    width: 100%;
    height: 6rem;
    padding: 0.35rem 0.5rem;
    border: 1.2px solid var(--text-primary);
    border-radius: 5px;
    background-color: var(--text-secondary);
    font-size: 0.9rem;
    font-weight: 600;
    color: inherit;
    resize: none;
}

.converter__textarea:disabled {
    cursor: not-allowed;
}

.converter__change {
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.35rem;
    border-style: none;
    background-color: var(--accent);
    border: 1px solid var(--text-accent);
    border-radius: 5px;
    box-shadow: var(--shadow-low);
    position: relative;
    transition: scale 30ms ease-out;
}

.change__icon {
    aspect-ratio: 1;
    width: 1.65rem;
    color: var(--text-accent);
}

.converter__request {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    background-color: var(--accent);
    border: 1px solid var(--text-accent);
    border-radius: 5px;
    box-shadow: var(--shadow-low);
    font-size: 1rem;
    transition: scale 30ms ease-out;
}

.converter__change:active,
.converter__request:active {
    scale: 0.95;
}

/** Request styles */
.request {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.request__title {
    font-size: 1.6rem;
    text-align: center;
}

.request__code {
    max-width: 30rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--code);
    border-radius: 5px;
    position: relative;
    color: var(--text-code);
}

.code__copy {
    background-color: transparent;
    border-style: none;
    position: absolute;
    top: 0.5rem;
    right: 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.code__icon {
    aspect-ratio: 1;
    width: 1.25rem;
}

.code__icon--hidden {
    display: none;
}

.code__json {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.25rem;
    line-height: 1.3rem;
}

/** Styles for medium screens */
@media (min-width: 22rem) {
    /** Main */
    .main__modal {
        width: 16rem;
    }

    .modal__icon {
        width: 1.85rem;
    }

    .modal__item {
        gap: 2rem;
    }

    .modal__title {
        font-size: 1.5rem;
    }

    .modal__subtitle {
        font-size: 1.33rem;
    }

    .modal__text {
        font-size: 1.25rem;
    }

    .modal__character {
        font-size: 1.25rem;
    }

    /** Converter */
    .converter__title {
        font-size: 1.65rem;
    }

    .converter__element {
        padding-block: 1rem 0.5rem;
    }

    .element__options {
        gap: 0.75rem;
    }

    .element__dropdowns {
        gap: 0.75rem;
    }

    .element__select {
        font-size: 1.2rem;
    }

    .select__default::after,
    .select__default::before {
        border-width: 0.5rem;
    }

    .select__default::after {
        bottom: -0.1rem;
    }

    .select__default::before {
        top: -0.1rem;
    }

    .settings__icon {
        width: 1.8rem;
    }

    .copy__icon {
        width: 1.75rem;
    }

    .converter__textarea {
        font-size: 1.1rem;
    }

    .change__icon {
        width: 2rem;
    }

    .converter__request {
        font-size: 1.25rem;
    }

    /** Request */
    .request {
        margin-top: 2rem;
    }

    .request__title {
        font-size: 2rem;
    }

    .request__code {
        border-radius: 10px;
    }

    .code__icon {
        width: 1.5rem;
    }

    .code__json {
        font-size: 1.15rem;
        line-height: 1.55rem;
    }
}

/** Styles for large screens */
@media (min-width: 36rem) {
    /** Main */
    .converter__main {
        flex-direction: row;
    }

    /** Converter */
    .converter__textarea {
        font-size: 1.2rem;
    }

    /** Request */
    .request {
        margin-top: 2.45rem;
    }

    .request__title {
        font-size: 2.3rem;
    }

    .code__json {
        font-size: 1.3rem;
        line-height: 1.65rem;
    }
}