/* Converters styles */
.converter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.converter__element {
    flex: 1;
    padding: 0.5rem;
    border: 1.5px solid var(--text-primary);
    border-radius: 10px;
    background-color: var(--primary);
    box-shadow: 0 0 10px #00000040;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
}

.converter__title {
    font-size: 1.4rem;
    font-weight: bold;
}

.selected {
    width: fit-content;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}

.selected__element {
    padding-block: 0.5rem;
    padding-inline: 0.5rem 0.9rem;
    background-color: var(--accent);
    border-style: none;
    border-radius: 5px;
    color: var(--text-accent);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

@-moz-document url-prefix() {
  .selected__option {
    font-family: Arial, sans-serif;
  }
}

.selected__arrows {
    width: 1.5rem;
    height: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--accent);
    position: absolute;
    top: 50%;
    right: 0;
    translate: -10% -50%;
    pointer-events: none;
}

.selected__arrows::before,
.selected__arrows::after {
    --size: 0.45rem;
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.selected__arrows::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--text-accent);
    top: 32.5%;
}

.selected__arrows::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--text-accent);
    top: 67.5%;
}

.converter__textarea {
    width: 100%;
    height: 12rem;
    margin-top: 1rem;
    padding: 0.35rem 0.5rem;
    border: 1.2px solid var(--text-primary);
    border-radius: 2px;
     background-color: var(--text-secondary);
    font-size: 1.1rem;
    font-weight: bold;
    color: inherit;
    resize: none;
}

.converter__textarea:disabled {
    cursor: not-allowed;
}

.converter__change {
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.45rem;
    border-style: none;
    background-color: transparent;
    box-shadow: 0 0 10px #00000040;
    border-radius: 5px;
    position: relative;
}

.converter__change::before {
    content: "";
    border: 1.5px solid var(--text-accent);
    border-radius: inherit;
    background-color: var(--accent);
    position: absolute;
    z-index: -1;
    inset: 0;
}

.converter__change:hover::before {
    opacity: 0.85;
}

.converter__arrows {
    width: 2rem;
    color: var(--text-accent);
}