/* Variables */
:root {
    --primary: #CBF3F0;
    --text-primary: #0025A1;
    --secondary: #2EC4B6;
    --text-secondary: #ECECEC;
    --accent: #FF9F1C;
    --text-accent: #2A1E0B;
    --code: #252525;
    --text-code: #d0ffd8;
    --copy: #52EC80;
    --max-width: 46rem;
    --large-screen: 36rem;
    --medium-screen: 22rem;
}

/* Font load */
@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

/* Setting default styles */
body {
    font-family: 'Outfit', Arial;
    color: var(--text-primary);
}