<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API Documentation</title>
  <base href="http://localhost:3300">
  <meta name="description" content="This page provides an API for performing number conversions in different bases, as well as number to text (written number). The documentation is available in English and Spanish.">
  <meta name="keywords" content="api, base62, number-converter, text-conversion, octal-converter, base64-converter, binary-conversion, hexadecimal-conversion">
  <link rel="shortcut icon" href="../../img/favicon.webp">
  <link rel="stylesheet" href="../../css/app.css">
  <link rel="stylesheet" href="../../css/documentation.css">
  <script type="module" src="../../js/app.js"></script>
  <script src="../../js/Documentation.js" defer></script>
</head>

<body>
  <header class="header">
    <div class="header__content">
      <a class="header__anchor header__anchor--nohover" href="/en/converter">
        <h1 class="header__title">Web converter</h1>
      </a>

      <div class="header__submenu">
        <!-- Documentation -->
        <a class="header__anchor" href="/en/documentation">
          <span class="header__label">Documentation</span>
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6l0 13" />
            <path d="M12 6l0 13" />
            <path d="M21 6l0 13" />
          </svg>
        </a>

        <!-- Languages -->
        <div class="header__list">
          <button data-menu="languages-menu" class="header__default">
            <span class="header__label">English</span>
            <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 5h7" />
              <path d="M7 4c0 4.846 0 7 .5 8" />
              <path d="M10 8.5c0 2.286 -2 4.5 -3.5 4.5s-2.5 -1.135 -2.5 -2c0 -2 1 -3 3 -3s5 .57 5 2.857c0 1.524 -.667 2.571 -2 3.143" />
              <path d="M12 20l4 -9l4 9" />
              <path d="M19.1 18h-6.2" />
            </svg>
          </button>

          <div id="languages-menu" class="header__languages header__languages--hidden" data-hidden-class="header__languages--hidden">
            <a href="/en/documentation" class="header__language header__language--selected">English</a>
            <a href="/es/documentation" class="header__language">Español</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="main__content">
      <aside class="main__aside">
        <!-- Introduction options -->
        <div class="aside__section">
          <p class="aside__title">Introduction</p>
          <div class="aside__options">
            <button id="btn-getting-started" class="aside__option" data-button-for="getting-started">Getting started</button>
            <button id="btn-first-request" class="aside__option" data-button-for="first-request">First request</button>
          </div>
        </div>

        <!-- Structures options -->
        <div class="aside__section">
          <p class="aside__title">Structures</p>
          <div class="aside__options">
            <button id="btn-request" class="aside__option" data-button-for="request">Request</button>
            <button id="btn-response" class="aside__option" data-button-for="response">Response</button>
            <button id="btn-error" class="aside__option" data-button-for="error">Errors</button>
            <button id="btn-warning" class="aside__option" data-button-for="warning">Warnings</button>
          </div>
        </div>

        <!-- Additionals options -->
        <div class="aside__section">
          <p class="aside__title">Additionals</p>
          <div class="aside__options">
            <button id="btn-types" class="aside__option" data-button-for="types">Types</button>

            <!-- Formats sub menu -->
            <div class="aside__submenu">
              <button id="btn-formats" class="aside__option" data-button-for="formats">Formats</button>

              <div class="submenu__options">
                <button id="btn-separation" class="aside__option" data-button-for="separation">Separation</button>
                <button id="btn-language" class="aside__option" data-button-for="language">Language</button>
                <button id="btn-preserve-zeros" class="aside__option" data-button-for="preserve-zeros">PreserveZeros</button>
                <button id="btn-order" class="aside__option" data-button-for="order">Order</button>
                <button id="btn-extra-characters" class="aside__option" data-button-for="extra-characters">ExtraCharacters</button>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <div class="main__separator"></div>

      <!-- Getting started section -->
      <section id="getting-started" class="main__section main__section--hidden">
        <h2 class="section__title">Getting started</h2>

        <div class="section__content">
          <p class="section__paragraph">
            <span>
              This API is designed to perform numerical conversions between
              different
            </span>
            <span class="paragraph__link" data-button-for="types">data types.</span>
            <span>For example, converting from</span>
            <code class="paragraph__code">
              <span class="code__value">10</span>
              <span class="code__base">decimal</span>
            </code>
            <span>to</span>
            <code class="paragraph__code">
              <span class="code__value">1010</span>
              <span class="code__base">binary</span>
            </code>
            <span>or from</span>
            <code class="paragraph__code">
              <span class="code__value">3.5</span>
              <span class="code__base">decimal</span>
            </code>
            <span>to</span>
            <code class="paragraph__code"><span class="code__value">three point five</span><span class="code__base">text</span></code><span>.</span>
          </p>
          <p class="section__paragraph">
            <span>All requests must be sent using the</span>
            <code class="paragraph__code">
              <span class="code__value">POST</span>
            </code>
            <span>method to the following URL:</span>
          </p>
          <p class="section__link">
            <span id="getting-started-code-1" class="link__text">https://www.numberconverterapi.kodexiv.com/api/converter</span>
            <span class="link__separator"></span>
            <button class="link__copy" data-code-copy="getting-started-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
          </p>
          <p class="section__paragraph">
            <span>Make your</span>
            <span class="paragraph__link" data-button-for="first-request">first conversion request</span>
            <span>now.</span>
          </p>
        </div>
      </section>

      <!-- First request section -->
      <section id="first-request" class="main__section main__section--hidden">
        <h2 class="section__title">First request</h2>

        <div class="section__content">
          <p class="section__paragraph">
            Below is a basic example of how to perform a conversion using the API.
          </p>
          <p class="section__paragraph">
            <span>
              All requests must be sent using the
            </span>
            <code class="paragraph__code">
              <span class="code__value">POST</span>
            </code>
            <span>method to the following URL:</span>
          </p>
          <p class="section__link">
            <span id="first-request-code-1" class="link__text">https://www.numberconverterapi.kodexiv.com/api/converter</span>
            <span class="link__separator"></span>
            <button class="link__copy" data-code-copy="first-request-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
          </p>
          <p class="section__paragraph">
            <span>
              Conversion requests require only two sections:
            </span>
            <code class="paragraph__code"><span class="code__value">from</span></code><span>,</span>
            <span>
              which specifies the value to convert, and
            </span>
            <code class="paragraph__code"><span class="code__value">to</span></code><span>,</span>
            <span>which indicates the expected</span>
            <span class="paragraph__link" data-button-for="response">response</span><span>.</span>
          </p>
          <p class="section__paragraph">
            <span>The</span>
            <code class="paragraph__code"><span class="code__value">from</span></code>
            <span>
              section must include two fields: the value to be converted and its
              type.
            </span>
            <span>The</span>
            <code class="paragraph__code"><span class="code__value">to</span></code>
            <span>
              section only requires the type of the expected result.
            </span>
          </p>
          <p class="section__paragraph">
            <span>For example, to convert the value</span>
            <code class="paragraph__code">
              <span class="code__value">10</span>
              <span class="code__base">decimal</span>
            </code>
            <span>to</span>
            <code class="paragraph__code"><span class="code__value">binary</span></code><span>,</span>
            <span>you must send the following request:</span>
          </p>
          <div class="section__code">
            <button class="code__copy" data-code-copy="first-request-code-2">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="first-request-code-2" class="code__text">
{
  "from": {
    "value": "10",
    "type": "decimal"
  },
  "to": {
    "type": "binary"
  }
}</pre>
          </div>
          <p class="section__paragraph">The result of the conversion will be:</p>
          <div class="section__code section__code--small">
            <button class="code__copy" data-code-copy="first-request-code-3">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="first-request-code-3" class="code__text">
{
  "data": "1010"
}</pre>
          </div>
        </div>
      </section>

      <!-- Request structure section -->
      <section id="request" class="main__section main__section--hidden">
        <h2 class="section__title">Request structure</h2>

        <div class="section__content">
          <p class="section__paragraph">
            <span>The structure of the requests consists of only two elements:</span>
            <code class="paragraph__code"><span class="code__value">from</span></code><span>,</span>
            <span>which indicates the value to be converted, and</span>
            <code class="paragraph__code"><span class="code__value">to</span></code><span>,</span>
            <span>which indicates the expected</span>
            <span class="paragraph__link" data-button-for="response">response</span><span>.</span>
          </p>
          <h3 class="section__title2">From</h3>
          <p class="section__paragraph">
            <span>
              This object contains the initial value of the conversion. It must
              include the value to be converted and its
            </span>
            <span class="paragraph__link" data-button-for="types">type</span><span>.</span>
            <span>Optionally, it may also include</span>
            <span class="paragraph__link" data-button-for="formats">formats</span>
            <span>that describe the structure of the input value.</span>
          </p>
          <h3 class="section__title2">To</h3>
          <p class="section__paragraph">
            <span>
              This object defines the data
            </span>
            <span class="paragraph__link" data-button-for="types">type</span>
            <span>expected as the result.</span>
            <span>Optionally, it may include</span>
            <span class="paragraph__link" data-button-for="formats">formats</span>
            <span>that specify the desired structure of the output.</span>
          </p>
          <h3 class="section__title2">Structure</h3>
          <p class="section__paragraph">
            Based on the above, the structure of a request is as follows:
          </p>
          <div class="section__code">
            <button class="code__copy" data-code-copy="request-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="request-code-1" class="code__text">
{
  "from": {
    "value": "",
    "type": "",
    "format": {}
  },
  "to": {
    "type": "",
    "format": {}
  }
}</pre>
          </div>
          <p class="section__paragraph">
            If additional elements are sent, they will be ignored by the API.
          </p>
        </div>
      </section>

      <!-- Response structure section -->
      <section id="response" class="main__section main__section--hidden">
        <h2 class="section__title">Response structure</h2>

        <div class="section__content">
          <p class="section__paragraph">
            <span>
              The API can return three types of responses, depending on the
              values sent in the
            </span>
            <span class="paragraph__link" data-button-for="request">request</span><span>.</span>
          </p>
          <h3 class="section__title2">Ideal response</h3>
          <p class="section__paragraph">
            <span>This response is returned when no</span>
            <span class="paragraph__link" data-button-for="error">error</span>
            <span>or</span>
            <span class="paragraph__link" data-button-for="warning">warning</span>
            <span>
              occurs during the conversion. The response consists only of the
            </span>
            <code class="paragraph__code"><span class="code__value">data</span></code><span></span>
            <span>object, which contains the final result.</span>
          </p>
          <h3 class="section__title3">Request</h3>
          <div class="section__code">
            <button class="code__copy" data-code-copy="response-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-1" class="code__text">
{
  "from": {
    "value": "10",
    "type": "decimal"
  },
  "to": {
    "type": "binary"
  }
}</pre>
          </div>
          <h3 class="section__title3">Response</h3>
          <div class="section__code section__code--small">
            <button class="code__copy" data-code-copy="response-code-2">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-2" class="code__text">
{
  "data": "1010"
}</pre>
          </div>
          <h3 class="section__title2">Response with warnings</h3>
          <p class="section__paragraph">
            <span>
              This response is returned when a non-critical condition occurs
              during the conversion. The response includes the
            </span>
            <code class="paragraph__code"><span class="code__value">warnings</span></code><span></span>
            <span>object, and</span>
            <code class="paragraph__code"><span class="code__value">data</span></code>
            <span>
              may contain the final conversion value or not, depending on the
              situation.
            </span>
          </p>
          <h3 class="section__title3">Request</h3>
          <div class="section__code">
            <button class="code__copy" data-code-copy="response-code-3">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-3" class="code__text">
{
  "from": {
    "value": "A",
    "type": "decimal"
  },
  "to": {
    "type": "binary"
  }
}</pre>
          </div>
          <h3 class="section__title3">Response</h3>
          <div class="section__code section__code--big">
            <button class="code__copy" data-code-copy="response-code-4">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-4" class="code__text code__text--break">
{
  "warnings": {
    "validation": "`A` is not a valid decimal number."
  },
  "data": null
}</pre>
          </div>
          <h3 class="section__title2">Response with errors</h3>
          <p class="section__paragraph">
            <span>
              This response is returned when the conversion cannot be performed,
              usually due to an invalid value or a missing required element. In
              this case, only the
            </span>
            <code class="paragraph__code"><span class="code__value">errors</span></code><span></span>
            <span>
              object is returned.
            </span>
          </p>
          <h3 class="section__title3">Request</h3>
          <div class="section__code">
            <button class="code__copy" data-code-copy="response-code-5">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-5" class="code__text">
{
  "from": {
    "value": "10"
  },
  "to": {
    "type": "binary"
  }
}</pre>
          </div>
          <h3 class="section__title3">Response</h3>
          <div class="section__code section__code--big">
            <button class="code__copy" data-code-copy="response-code-6">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="response-code-6" class="code__text code__text--break">
{
  "errors": {
    "from.type": "The `from.type` element is required."
  }
}</pre>
          </div>
        </div>
      </section>

      <!-- Errors structure section -->
      <section id="error" class="main__section main__section--hidden">
        <h2 class="section__title">Error structure</h2>

        <div class="section__content">
          <p class="section__paragraph">
            <span>Errors are objects returned in the</span>
            <span class="paragraph__link" data-button-for="response">response</span>
            <span>of a conversion. They are generated when the</span>
            <span class="paragraph__link" data-button-for="request">request</span>
            <span>contains an incorrect value or when a required element is missing.</span>
          </p>
          <h2 class="section__title2">Structure</h2>
          <p class="section__paragraph">
            <span>The</span>
            <code class="paragraph__code"><span class="code__value">errors</span></code>
            <span>
              object contains a set of key-value pairs, where the key identifies
              the element that produced the error and the value is the
              corresponding error message.
            </span>
          </p>
          <h3 class="section__title3">Request</h3>
          <div class="section__code">
            <button class="code__copy" data-code-copy="error-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="error-code-1" class="code__text">
{
  "from": {
    "type": null
  },
  "to": {
    "type": "base10"
  }
}</pre>
          </div>
          <h3 class="section__title3">Response</h3>
          <div class="section__code section__code--big">
            <button class="code__copy" data-code-copy="error-code-2">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="error-code-2" class="code__text code__text--scrollable">
{
  "errors": {
    "from.type": "The `from.type` element cannot be null.",
    "from.value": "The `from.value` element is required.",
    "to.type": "'base10' is not a valid `to.type` value. Accepted values are: 'hexadecimal', 'decimal', 'octal', 'binary', 'base62', 'base64', 'text'."
  }
}</pre>
          </div>
        </div>
      </section>

      <!-- Warnings structure section -->
      <section id="warning" class="main__section main__section--hidden">
        <h2 class="section__title">Warning structure</h2>

        <div class="section__content">
          <p class="section__paragraph">
            <span>Warnings are objects returned in the</span>
            <span class="paragraph__link" data-button-for="response">response</span>
            <span>
              of a conversion. These are generated when, during the conversion,
              any of the following events occurs:
            </span>
          </p>
          <ol class="section__list">
            <li class="list__paragraph">
              <span>An invalid value is sent for the selected</span>
              <span class="paragraph__link" data-button-for="types">type</span><span>.</span>
              <span>In this case, the</span>
              <code class="paragraph__code"><span class="code__value">data</span></code>
              <span>will always return</span>
              <code class="paragraph__code"><span class="code__value">null</span></code><span>.</span>
            </li>
            <li class="list__paragraph">
              <span>
                The value to convert is sent in numeric form (the
              </span>
              <code class="paragraph__code"><span class="code__value">string</span></code>
              <span>form is preferable to maintain precision with very large numbers).</span>
            </li>
            <li class="list__paragraph">
              <span>A</span>
              <span class="paragraph__link" data-button-for="separation">separation</span>
              <span>is specified in the</span>
              <code class="paragraph__code"><span class="code__value">from</span></code>
              <span>object that is not used by the value sent.</span>
            </li>
            <li class="list__paragraph">
              <span>
                A conversion with a decimal part cannot produce an exact result.
                In this case, the decimals in the
              </span>
              <span class="paragraph__link" data-button-for="response">response</span>
              <span>are truncated to 25 characters.</span>
            </li>
            <li class="list__paragraph">
              <span>A conversion is performed where</span>
              <code class="paragraph__code"><span class="code__value">to.type</span></code>
              <span>is set to</span>
              <code class="paragraph__code"><span class="code__value">text</span></code>
              <span>
                and the number sent for that conversion is too large. In this
                case, the
              </span>
              <code class="paragraph__code"><span class="code__value">data</span></code>
              <span>object will always return</span>
              <code class="paragraph__code"><span class="code__value">NTL</span></code>
              <span>(number too large).</span>
            </li>
            <li class="list__paragraph">
              <span>A conversion is performed where</span>
              <code class="paragraph__code"><span class="code__value">from.type</span></code>
              <span>is set to</span>
              <code class="paragraph__code"><span class="code__value">text</span></code>
              <span>and the value sent is not a valid number. In this case, the</span>
              <code class="paragraph__code"><span class="code__value">data</span></code>
              <span>object will always return</span>
              <code class="paragraph__code"><span class="code__value">NaN</span></code>
              <span>(not a number).</span>
            </li>
          </ol>
          <h2 class="section__title2">Structure</h2>
          <p class="section__paragraph">
            <span>The</span>
            <code class="paragraph__code"><span class="code__value">warnings</span></code>
            <span>
              object contains a set of key-value pairs, where the key identifies
              the element that produced the warning and the value is the
              corresponding message. It is important to note that warnings
            </span>
            <b>4</b><span>,</span>
            <b>5</b><span>, and</span>
            <b>6</b>
            <span>use</span>
            <code class="paragraph__code"><span class="code__value">data</span></code><span></span>
            <span>
              as their key, since they are considered issues related to the
              result of the conversion and not to the
            </span>
            <code class="paragraph__code"><span class="code__value">from</span></code>
            <span>element sent.</span>
          </p>
          <h2 class="section__title2">Example</h2>
          <h3 class="section__title3">Request</h3>
          <div class="section__code section__code--big">
            <button class="code__copy" data-code-copy="warning-code-1">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="warning-code-1" class="code__text">
{
  "from": {
    "value": 10.9,
    "type": "decimal",
    "format": {
      "separation": "comma"
    }
  },
  "to": {
    "type": "binary"
  }
}</pre>
          </div>
          <h3 class="section__title3">Response</h3>
          <div class="section__code section__code--big">
            <button class="code__copy" data-code-copy="warning-code-2">
              <svg class="section__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
              </svg>
              <svg class="section__icon section__icon--hidden" style="color: var(--copy);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
<pre id="warning-code-2" class="code__text code__text--scrollable">
{
  "warnings": {
    "from.value": "To maintain precision, always try to send `from.value` in string format, not number format: '10.9' instead of 10.9.",
    "from.format.separation": "The value sent did not have the specified separation.",
    "data": "The result had too many decimals. These were truncated to only twenty-five characters."
  },
  "data": "1010.11100110011001100110011"
}</pre>
          </div>
        </div>
      </section>

      <!-- Types section -->
      <section id="types" class="main__section main__section--hidden">
        <h2 class="section__title">Types of values</h2>

        <div class="section__content"></div>
      </section>

      <!-- Formats section -->
      <section id="formats" class="main__section main__section--hidden">
        <h2 class="section__title">Formats</h2>

        <div class="section__content"></div>
      </section>

      <!-- Separations section -->
      <section id="separation" class="main__section main__section--hidden">
        <h2 class="section__title">Separations</h2>

        <div class="section__content"></div>
      </section>

      <!-- Languages section -->
      <section id="language" class="main__section main__section--hidden">
        <h2 class="section__title">Languages</h2>

        <div class="section__content"></div>
      </section>

      <!-- Preserve zeros section -->
      <section id="preserve-zeros" class="main__section main__section--hidden">
        <h2 class="section__title">Preserve zeros</h2>

        <div class="section__content"></div>
      </section>

      <!-- Order section -->
      <section id="order" class="main__section main__section--hidden">
        <h2 class="section__title">Order</h2>

        <div class="section__content"></div>
      </section>

      <!-- Extra characters section -->
      <section id="extra-characters" class="main__section main__section--hidden">
        <h2 class="section__title">Extra characters</h2>

        <div class="section__content"></div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <ul class="footer__content">
      <li>
        <a class="footer__paragraph" href="https://github.com/livan23l/NumberConverterApi" target="_blank" rel="noopener noreferrer">
          <span>View project</span>
          <svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
          </svg>
        </a>
      </li>
      <li class="footer__paragraph">
        <a href="/en/contact">Contact</a>
      </li>
    </ul>
  </footer>
</body>

</html>